.changing-divs {
    border:#000 1px solid;
    width:100%;
    height:300px;
}

.margin-top-20 {
    margin-top:20px;
}

.animate {
    transform:rotate(2160deg);
    transition:all 1s ease-in-out;
    background-color:purple;
}

#overlay-text {
    display:none;
    /*height:5000px;
    width:5000px;*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    background-color:rgba(0,0,0,0.5);
    text-align:center;
}
